<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit table</title>
</head>
<body>
<table border = "1">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Age</th>
  </tr>

  <tr th:each="list : ${list}">
    <td th:utext="${list.id}">id</td>
    <td th:utext="${list.name}">Name</td>
    <td th:utext="${list.lastName}">Last Name</td>
    <td th:utext="${list.age}">Age</td>
  </tr>
</table>
<br>
<br>
<a href="add-user">Add user</a>
<br>
<br>
<a href="update-user">Update user</a>
<br>
<br>
<a href="delete-user">Delete user</a>
</body>
</html>